<div class="form-container">
    <label for="title">Blog Post Title</label>
    <input required value="<%= article.title %>" type="text" name="title" id="title">
</div>

<div class="form-container">
    <label for="description">Blog Post Description</label>
    <textarea value=""name="description" id="description" cols="30" rows="3">
        <%= article.description %>
    </textarea>
</div>

<div class="form-container">
    <label for="markdown">Blog Post Markdown</label>
    <textarea required name="markdown" id="markdown" cols="30" rows="10">
        <%= article.markdown %>
    </textarea>
</div>

<div class="btn-container">
    <a class="btn btn-red" href="/">cancel</a>
    <button class="btn btn-green" type="submit">post</button>
</div>



