<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post</title>

     <!-- STYLES -->
     <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1><%= article.title %></h1>
    <small><%= article.createdAt.toLocaleDateString() %></small>
    
    <a href="/">All Articles</a>
    <a href="/articles/edit/<%= article.id %>">Edit Article</a>

    <div>
        <%- article.sanitizedHtml %>
    </div>
</body>
</html>